@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px ; box-sizing: border-box;}
html{width:100%; height:100%;}
body{width:100%; height:100%; background:#f29600; }



#underclr{width:960px;height:750px;margin: 0 auto;background-image: url(../images/loginbg.png);background-repeat: no-repeat;background-position: center;}
#basictitle{display:block; margin:0 auto;margin-bottom: -30px;}
form{margin:0 auto;font-family: 'Noto Sans TC', sans-serif;width:940px;height:350px; padding: 75px;padding-top: 20%; z-index: 2;position:relative; font-size: 16px;color:black;}
form h2{font-size:25px;margin-bottom: 30px;font-weight: 500;}
label{font-weight: 500;}


#wrapper{width:1550px;height:1000px;margin: 0 auto;}
#leftside{float:left;margin-left: 100px}
#rightside{width:400px; height:980px;float:left;}
#rightside > img{position: relative;bottom:-50px;left:-90px;}
#menu{float:left;margin-top:70px;margin-left: 35px}

#leftform{width:300px;float: left;margin-left: 3%;}
#rightform{width:300px;float: right;padding-right: 50px}
#submit{background-image:url(../images/login.png);background-repeat: no-repeat;background-position: center;width:211px;height:202px;border: 0px;float:right;}

#secondlayer{width:30%; height:100%; background: #e23e0c;position: fixed;z-index: 10;display:none;}
#secondlayer h2{width:70%; height:50px; border-bottom: 1px solid white;}
#secondlayer ul{margin: 0 auto;display:block;width:50%;list-style-type: none;margin-top:50%; color: white;font-family: 'Noto Sans TC', sans-serif;font-size: 20px;}
#secondlayer li{margin-top: 15px;}
#secondlayer a{text-decoration: none; color: white;font-family: 'Noto Sans TC', sans-serif;font-size: 25px;font-weight: 100;}
#underlayer{background: black;width:100%; height:100%;opacity: 0.7; position: fixed;display:none;z-index: 10;}
#mainpic{position: absolute;top:2%;left:10%; width:20%;z-index: 7; }
footer{width:100%; height:30px; text-align:center;font-family: 'Noto Sans TC', sans-serif;margin-top:-2px;color:black;}
#words{display:none;font-family: 'Noto Sans TC', sans-serif;font-weight:400;}
#register{font-size:25px;margin:0 auto;display:block;width:85%; height:100%;background:#0945E7;color:white;float:left;text-align: center;margin-top:29%;border:2px solid  black;line-height:32px;padding: 5px;text-decoration: none;float:right; }
#register:hover{opacity: 0.8;}
@media screen and (max-width:1024px) {
	label img{width:200px;height:auto;}
	#phonekey{width:150px;height:auto;}
	#mainpic{width:70%;height:auto;left:1%;top:12%;}
	form h2{font-size:15px;}
	#underclr{width:100%; height: 100%;}
	form{padding: 20px;height:auto;margin:0 auto;position:absolute ; top:30%; left:0px;width:100%;background:#F9A567;z-index: 5;}
	form input{100%;}
	#wrapper{width:100%;height:110%; margin:0 auto;}
	#leftside{margin:0 auto;}
	#rightside{width:100%; height:100%;}
	#sideperson{display:none;}
	#menu{position:absolute;top:15%; right:5%;width:30%; height:auto;z-index:6}
	#basictitle{margin:0 auto; width:80%; height:auto;position:absolute;z-index:4;left:30%;margin-left: -20%; }
	#secondlayer{width:80%;}
	#secondlayer ul{width:70%;margin-top: 70%;}
	footer{display:none;}
	#words{display:block;width:100%; height:100%; text-align:center;font-family: 'Noto Sans TC', sans-serif;margin-top:10px;color:black;background: #FB7C1A;padding: 5px;margin-bottom: 0px;clear: both;}
	#submit{float:none;margin: 0 auto;display:block;}
	
	#leftform{float:none; margin:0 auto;}

	#rightform{margin:0 auto;margin-top:10px;margin-bottom: 10px;width:100%;padding-right: 0px }
	#register{width:50%;float:none;margin-top: 25px;}
	
}

@media screen and (max-width:900px){
	#menu{top:10%;}
	
	
}